<div class="imgDiv">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mdb-card>
      <mdb-card-header>
        <img src="../../../assets/images/truelimetransparant.png" alt="TrueLime" class="animated pulse"/>
      </mdb-card-header>
      <mdb-card-body>
        <div>
          <h4>Registreren</h4>
        </div>
        <div class="md-form">
          <input
            mdbInput
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            required
          >
          <label for="email" class="">Email</label>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is verplicht!</div>
            <div *ngIf="f.email.hasError('pattern')">Voer een geldige email in!</div>
          </div>
        </div>
        <div class="md-form">
          <input
            mdbInput
            type="text"
            id="username"
            class="form-control"
            formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          >
          <label for="username" class="">Gebruikersnaam</label>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Gebruikersnaam is verplicht!</div>
          </div>
        </div>
        <div class="md-form">
          <input
            mdbInput
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
          >
          <label for="password" class="">Wachtwoord</label>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Wachtwoord is verplicht!</div>
            <div *ngIf="f.password.errors.minlength">Wachtwoord moet minstens 6 characters lang zijn!</div>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>
        <button mdbBtn class="registerBtn" type="submit" mdbWavesEffect>Registreren</button>
      </mdb-card-body>
      <mdb-card-footer><p>Terug naar <a routerLink="/login">inloggen.</a></p></mdb-card-footer>
    </mdb-card>
  </form>
</div>
