<!--Navbar-->
<mdb-navbar *ngIf="(isLoggedIn$ | async)" SideClass="navbar navbar-expand-lg navbar-dark rgba-black-strong" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/dashboard"><img class="animated fadeIn" src="../../../assets/images/truelimelogo2.png" alt="TrueLime" /></a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/boards/myboards">Mijn Borden</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/boards/newboard">Nieuw Bord</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link btn-group"  mdbDropdown mdbDropdownToggle>
          <mdb-icon fas icon="user"></mdb-icon>
          <div class="dropdown-menu dropdown-menu-right dropdown-primary">
<!--            <a class="dropdown-item" routerLink="/settings">Instellingen</a>-->
            <a class="dropdown-item" (click)="logout()">Uitloggen</a>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
